{
    "presets": ["babel-preset-expo", "module:react-native-dotenv"],
    "plugins": [
      [
        "module-resolver",
        {
          "root": ["./src"],
          "alias": {
            "@api": "./src/api",
            "@navigation": "./src/navigation",
            "@utils": "./src/utils",
            "@screen": "./src/screens",
            "@component": "./src/components"
          }
        }
      ]
    ]
  }